.problem{
    width: 90%;
    min-height: 70px;
    background-color:#edece8;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition-duration: 0.3s;
}
p{
  margin: 5px;  
}